.card-body
  %h1.card-title= raw t('.prompt', client_name: content_tag(:strong, class: 'text-primary') { @pre_auth.client.name })

  %p.card-text
    %strong
      You are signed in as
      %span.text-primary= current_user.email

  - if @pre_auth.scopes.count > 0
    .card-text<
      = raw t('.able_to', client_name:  @pre_auth.client.name)
      …
- if @pre_auth.scopes.count > 0
  %ul.list-group.list-group-flush.border-top.border-bottom
    - @pre_auth.scopes.each do |scope|
      %li.list-group-item.py-1.bg-light= t scope, scope: [:doorkeeper, :scopes]
.card-body
  %p.card-text.mb-4
    %strong= raw t('.ensure_trust', client_name: content_tag(:span, class: 'text-primary') { @pre_auth.client.name })
    %br
    = t('.trust_detail')
  .row
    .col
      = form_tag oauth_authorization_path, method: :delete do
        = hidden_field_tag :client_id, @pre_auth.client.uid
        = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
        = hidden_field_tag :state, @pre_auth.state
        = hidden_field_tag :response_type, @pre_auth.response_type
        = hidden_field_tag :scope, @pre_auth.scope
        = hidden_field_tag :nonce, @pre_auth.nonce
        = hidden_field_tag :code_challenge, @pre_auth.code_challenge
        = hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method
        = submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-secondary btn-lg btn-block"

    .col
      = form_tag oauth_authorization_path, method: :post do
        = hidden_field_tag :client_id, @pre_auth.client.uid
        = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
        = hidden_field_tag :state, @pre_auth.state
        = hidden_field_tag :response_type, @pre_auth.response_type
        = hidden_field_tag :scope, @pre_auth.scope
        = hidden_field_tag :nonce, @pre_auth.nonce
        = hidden_field_tag :code_challenge, @pre_auth.code_challenge
        = hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method
        = submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-primary btn-lg btn-block"