- title t('devise.views.registrations.edit.page_title')
%main.container-xl
  .justify-content-md-center
    %h1.mb-4= t('devise.views.registrations.edit.heading')
    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :vertical, label_col: 'col-sm-5', control_col: 'col-sm-7', html: { method: :put }) do |f|
      -#= devise_error_messages!
      = f.alert_message t('devise.views.registrations._form.please_fix_errors')

      .row
        .col-sm
          = f.text_field :prename, autocomplete: 'given-name', autofocus: true, required: true
        .col-sm
          = f.text_field :surname, autocomplete: 'family-name', required: true
      .row
        .col-sm
          = f.text_field :company, autocomplete: 'organization'
        .col-sm
          = f.collection_select :language_id, Language.where(active: true), :id, :name, help: t('devise.views.registrations._form.language_helper')

      = f.email_field :email, autocomplete: 'email', required: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          = t('devise.views.registrations.edit.awaiting_confirmation', unconfirmed_email: resource.unconfirmed_email)

      = f.password_field :current_password, autocomplete: 'current-password', help: t('devise.views.registrations._form.current_password_helper'), required: true

      .text-right.mt-4
        = f.primary t('devise.views.registrations._form.button_save_changes')

    = render 'devise/shared/account_links', cache: true