:ruby
  # Use the translation determined by the controller (requested language or fallback)
  translation = @translation_used || {}
  title = translation['title'] || 'Article'
  description = translation['excerpt'] || translation['title'] || 'Article from Global Symbols'

  # Debug logging for article show
  if @article && @article['id'] == 4
    Rails.logger.info("  - Article ID: #{@article['id']}")
    Rails.logger.info("  - Using fallback: #{@using_fallback}")
    Rails.logger.info("  - Translation used: #{translation['languages_code']}")
    Rails.logger.info("  - Title: '#{title}'")
    Rails.logger.info("  - Translation title: '#{translation['title']}'")
  end

  set_meta_tags({
    site: 'Global Symbols News',
    article: {
      published_time: @article['date_created'],
      modified_time: @article['date_updated'] || @article['date_created'],
      publisher: 'https://globalsymbols.com'
    },
    twitter: {
      creator: '@globalsymbols',
    },
    og: {
      url: article_url(@article['slug']),
      type: 'article',
    }
  })

  # Schema.org NewsArticle and BlogPosting have the same fields. Here is the base template.
  rich_data_base = {
      mainEntityOfPage: {
          '@type':   'WebPage',
          '@id': article_url(@article['slug'])
      },
      headline:      translation['title'] || 'Article',
      inLanguage:    @translation_used['languages_code'] || 'en-GB',
      datePublished: @article['date_created'],
      dateModified:  @article['date_updated'] || @article['date_created'],
      author: {
        '@type': 'Person',
        name:    @article['author'] ? [@article['author']['first_name'], @article['author']['last_name']].compact.join(' ') : 'Global Symbols',
      },
      publisher: {
          '@type': 'Organization',
          name:    'GlobalSymbols',
          url:     'https://globalsymbols.com',
          logo: {
              '@type':  'ImageObject',
              url:      image_url('logo-square-512.png'),
              width: 512,
              height: 512
          }
      }
  }

  # If there's an image...
  if @article['image'] and !@article['image'].empty?
    rich_data_base[:image] = "https://cms.gs-test.co.uk/assets/#{@article['image']}"
  end

%main.container-lg.mt-0
  %nav.mt-4.breadcrumb-horizontal{"aria-label" => "breadcrumb"}
    %span.breadcrumb-link
      = link_to 'All News', news_path
    %span.breadcrumb-separator>
    %span.breadcrumb-current
      = @article['slug'] || 'article'

  %section.row.justify-content-center
    .col-md-8
      %article.news_article
        %header.mt-5
          .row.justify-content-center
            .col-auto
              %h1.text-center{:style => "font-weight: 600; font-size: 3.5rem"}
                = translation['title'] || 'Article Title'
                - if @using_fallback
                  %small.text-warning.ml-2 (Displayed in en-GB)
          .row.justify-content-center.mt-3
            .col-auto.text-center.text-muted
              - if @article['date_created']
                %time{datetime: Date.parse(@article['date_created']).strftime('%Y-%m-%d'), pubdate: true}= Date.parse(@article['date_created']).strftime('%B %d, %Y')
              - if @article['author']
                %p.mt-1.font-weight-light= [@article['author']['first_name'], @article['author']['last_name']].compact.join(' ')
        - if @article['image'] && !@article['image'].empty?
          - image_url = "https://cms.gs-test.co.uk/assets/#{@article['image']}"
          - set_meta_tags({image_src: image_url, twitter: { image: image_url }})
          %img.mb-5.img-fluid{src: image_url, alt: translation['title'] || 'Article image'}
        - if translation['content']
          = redcarpet(NewsArticleRenderer).render(translation['content']).html_safe
        - elsif translation['body']
          = redcarpet(NewsArticleRenderer).render(translation['body']).html_safe
= render 'rich_data', data: rich_data_base.merge({'@type': 'NewsArticle'}), cache: true
= render 'rich_data', data: rich_data_base.merge({'@type': 'BlogPosting'}), cache: true
