- title t('developer.authentication.title')
%main.mt-0
  %article
    = render 'pages/topbar' do
      = t('developer.authentication.title')
    .container-xl.mt-4
      .row.justify-content-center
        .col-md-8
          - if @activation_notice
            .alert.alert-success= @activation_notice
          - if @activation_error
            .alert.alert-danger= @activation_error
          %p.small.text-muted
            = link_to t('developer.authentication.back_to_developer'), developer_path

